.swiper-wrapper {
    height: 160%;

}

.mySwiper2 {
    height: 388px;
    width: 100%;
    max-width: 1200px;

}

.mySwiper {
    height: 20%;
    box-sizing: border-box;

}


.swiper-slide img {
    display: block;
    width: 100%;
    height: 55%;
    border-radius: 10px;
}

:root {
    --swiper-navigation-color: var(--text-clarified);
    --swiper-pagination-color: var(--text-clarified);
}